.repo-item {
  padding: 10px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  margin-bottom: 10px;

  &__name,
  &__stats {
    display: inline;
  }

  &__stats {
    float: right;
    margin-top: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #888;
  }

  &__stat {
    display: inline-block;
    margin-left: 8px;
    color: #888;
    text-decoration: none;

    svg {
      vertical-align: bottom;
    }
  }
}
