/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

body {
  background-color: #f9f9f9;
}

a:hover, a:active {
  text-decoration: underline;
  color: #4078c0;
}

a:active, a:hover {
  outline: 0;
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
